
div{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background:black;
    width: 70%;
    color: #17D4FE;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    left:50%;
    transform:translateX(-50%);
    padding:15px 5px;
    border-radius:8px;
    box-shadow: 7px 8px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}